<html>
<head></head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="footer text-center foter fixed-bootum">
      <div class="container">
        <!--logo2-->
        <div class="logo2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
          <a href="index.html">
            <!-- <img src="/assets/border-8261d37ab224b7f66ee9aef1dc90abfbcc3536813b1eb7e49d880b2450342481.png" alt="Border" /> -->
            <!-- <h2>B<span>ittern Technologies</span></h2> -->
          </a><br>
          <p>We Think beyond</p>
        </div>
        <!--//logo2-->
        <div><br>
        <a href="single.html" class="flag_tag2">Where to find us?</a>
        <ul class="social wow slideInDown" data-wow-duration="1s" data-wow-delay=".3s">
          <a href="http://www.facebook.com/" class="fa fa-facebook"></a>
          <a href="http://www.twitter.com/" class="fa fa-twitter"></a>
          <a href="http://www.google.com/" class="fa fa-google"></a>
          <a href="http://www.linkedin.com/" class="fa fa-linkedin"> </a>
          <div class="clearfix"></div>
        </ul>
        <p class="copy-right wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".3s"></p>
        </div>
      </div>
    </div>
  </body>
</html>


<style type="text/css">
	.foter{
		background-color: #dddddd;
		height:150px;
	}

</style>
<style type="text/css">
.fa {
    padding: 8px;
    font-size: 16px;
    width: 24px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;

}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
</style>